<!DOCTYPE html>
<html ng-app = "myApp">
<head>
    <title></title>
    <script src="angular.js"></script>
    <script src="controller.js"></script>
    <style type="text/css">
        .title-disabled {
            color: #fff000;
        }
        .selected {
            background-color: #ffffcc;
        }
    </style>
</head>
<body ng-controller="CartController">
<h1 ng-show="title.show" ng-class='{"title-disabled": isDisabled}'>Your Order</h1>

<div ng-repeat='item in items' ng-click="changeColor($index)" ng-class="{selected: isSelected == $index}">
    <span>{{item.title | titleCase}}</span>
    <input ng-change="compute($index)" ng-model="item.quantity">
    <span>{{item.price | currency}}</span>
    <span>{{item.sum | currency}}</span>
    <button ng-click="remove($index)">Rmove</button>
</div>
<div>Total: {{ bill.total | currency }}</div>
<div>Discount: {{ bill.discount | currency}}</div>
<div>SubTotal: {{ bill.subTotal | currency }}</div>
<button ng-click="toggle()">toggle</button>
<button autofocus="true"  ng-click="stun()">stun</button>
<br><hr>
<h1>Sign Up</h1>
<form name="addUserForm" ng-controller="AddUserController">
    <div ng-show="message">{{ message }}</div>
    <div>First name:<input type="text" ng-model="user.first" required></div>
    <div>Last name:<input type="text" ng-model="user.last" required></div>
    <div>Email:<input type="email" ng-model="user.email" required></div>
    <div>Age:<input type="number" ng-model="user.age" ng-maxlength="3" ng-minlength="1"></div>
    <div><button ng-click="addUser()" ng-disabled="!addUserForm.$valid">Submit</button></div>
</form>
</body>
</html>